# Project Specific
uv.lock

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.venv
venv/
ENV/

# Distribution
build/
dist/
*.egg-info/
*.egg

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing
.pytest_cache/
.coverage
htmlcov/

# Vercel
.vercel
